<div class="row">
  <div class="col-md-3 col-sm-4">
  	<div ng-include="'views/menu.html'"></div>
  </div>
  <div class="col-md-9 col-sm-8">
	<div class="content">
	  <h3>KFC Herselt</h3>
	  <p><img src="/images/kfcherselt.jpg" alt="KFC Herselt" class="img-rounded">
		
		</p>
<button class="btn btn-default" type="submit">Clublogo aanpassen</button>

</br></br>
	  <form class="form-horizontal" role="form">
	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Naam</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="inputEmail3" placeholder="Vul clubnaam in" value="KFC Herselt">
	    </div>
	  </div>
	<div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">Website</label>
	    <div class="col-sm-10">
	      <input type="url" class="form-control" id="inputPassword3" placeholder="Website" value="http://www.kfc-herselt.be">
	    </div>
	  </div>
	<div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="inputPassword3" placeholder="Email" value="robluyten@belgacom.net">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">Adres</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="inputPassword3" placeholder="Adres" value="Asbroek 3, 2230 Herselt">
	    </div>
	  </div>
	</form>
	
	<div id="map">
	<iframe width="100%" height="350px"  frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.be/maps?ie=UTF8&amp;ll=51.059672,4.879625&amp;spn=0.006278,0.016512&amp;t=m&amp;z=17&amp;output=embed"></iframe>
	</div>
	
	
	</div>
  </div>
</div>