<div class="auth-forms">

  <h2>Log In</h2>

  <form ng-submit="login()">
    <p ng-show="error" class="text-danger">{{ error }}</p>
    <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
    <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
    <input type="submit" value="Log in" class="btn btn-primary" />
  </form>
  </br>
  <span id="signinButton">
  <span
    class="g-signin"
    data-callback="signinCallback"
    data-clientid="319669160101-t4s425p3sq7f9nfhuvfkdhqq5q9ho5a9.apps.googleusercontent.com"
    data-cookiepolicy="single_host_origin"
    data-requestvisibleactions="http://schema.org/AddAction"
    data-scope="https://www.googleapis.com/auth/plus.login">
  </span>
</span>

</div>