<div class="auth-forms">

  <h2>Aanmelden</h2>

  <center><img src="/images/LoginFacebookGoogle.png"></center>
</br>
  <blockquote class="blockquote-center">
  OF
  </blockquote>
  <form ng-submit="login()">
    <p ng-show="error" class="text-danger">{{ error }}</p>
    <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
    <input type="password" ng-model="user.password" placeholder="Paswoord" class="form-control"><br>
    <input type="submit" value="Aanmelden" class="btn btn-primary" />
  </form>
</span>

</div>