<div ng-controller="MenuCtrl">
<ul class="nav nav-pills nav-stacked">
  	<li role="presentation" ng-show="signedIn()" ng-class="{ active: isActive('/dashboard')}"><a href="#/dashboard"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Dashboard</a></li>
	<li role="presentation" ng-show="signedIn()" ng-class="{ active: isActive('/club')}"><a href="#/club"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Club</a></li>
	<li role="presentation" ng-show="signedIn()" ng-class="{ active: isActive('/spelers')}"><a href="#/spelers"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Spelers</a></li>
	<li role="presentation" ng-show="signedIn()" ng-class="{ active: isActive('/premies')}"><a href="#/premies"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span> Premies</a></li>
	<li role="presentation" ng-show="signedIn()" ng-class="{ active: isActive('/afsluiting')}"><a href="#/afsluiting"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Jaarafsluiting</a></li>
</ul>
<hr>
<ul class="nav nav-pills nav-stacked">
  	<li role="presentation" ng-show="signedIn()" ng-class="{ active: isActive('/profile')}"><a href="#/profile"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Mijn profiel</a></li>
	<li role="presentation" ng-show="signedIn()" ng-class="{ active: isActive('/users')}"><a href="#/users"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Gebruikers</a></li>
</ul>
</div>